@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);



#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-15 H3 {
  font-family: 'PT Serif', serif;
}
#header4-0 H1 {
  font-family: 'Slabo 27px', serif;
  font-size: 21px;
  color: #000000;
}
#header4-0 P {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 11px;
}

#slider2-13 H1 {
  color: #2b2424;
  font-family: 'Titillium Web', sans-serif;
}
